

form{
    background-color: #ddd;
    text-align:center;
    padding: 35px;
}

label{

    font-family: 'san serif';
    font-weight: 600;
    font-size: 30px;
    
   
}



input{
    width: 350px;
    height: 30px;
    text-align:left;
    font-family:'San serif';
    font-size: 25px;
    border-radius: 15px;
    outline: 0px;
    padding: 6px;
}

a{
    text-align: center;
    font-family: 'san serif';
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
button{
    width: 150px;
    height: 50px;
    font-family: 'san serif';
    font-weight: 400;
    color:white;
    border-radius: 25px;
    font-size: 35px;
    background-color: blue;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

input:focus{
    background-color: aquamarine;
    border-radius: 15px;
}

a:hover{
    color:#333;
    
}
a:active{
    color: aqua;
}
button:hover{
    color:red;
    background-color: red;
    color: #333;
}

input:not([type="email"]){

    border: solid 1px red;

}
input[type="email"]{
    border: 1px solid blue;
    background: yellow;

}

ul li:first-child{
    color: green;
    
}

ul li:last-child{
    color: yellowgreen;
    
}

ul li:nth-child(3){
    color: darkgoldenrod;
}

ul li:nth-child(2){
    color: darkred;
}


